!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body
    .side-header
      %p.user-name Koba
    .side-contents
      %ul.group
        %li.group-name     test
        %li.group-comment  まだメッセージはありません
        %li.group-name     test2
        %li.group-comment  まだメッセージはありません